.pagecontainer:after {
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.pagecontainer {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    li{
        list-style: none;
        padding: 0px 8px;
        cursor: pointer;
        border: 1px solid #303030;
        width: 15px;
        text-align: center;
        line-height: 41px;
        font-size: 16px;
        font-weight: 550;
        color: #303030;
        background-color: #fff;
        border-radius: 5px;
        margin-left: 30px;
       
    }

    .nomore {
        cursor: not-allowed;
        color: #b5b5b5 !important;
    }
    .action{
        cursor: pointer;
    }
}

@media screen and (min-width: 960px){

    .pagecontainer {
        li{
            cursor: pointer;
            height: 50px;
            width: 50px;
            margin-left: 50px;
            line-height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .6s;
            svg{
                width: 30px;
                height: 30px;
            }
        }
        li:hover{
            background-color: #303030;
            svg{
                color: #fff;
            }
        }
    }
}


